*{box-sizing: border-box;}
#myform{
    width: 550px;
    margin: 3em auto;
    background-color: coral;
    padding: 2em;
}
.btnsubmit{
    width: 100%;
    background-color: pink;
    color: cyan;
    padding: 0.5em ;
    margin-top: 2em;
    border: none;
    border-radius: 10px;
}
.btnsubmit:hover{
    background-color: green;
}
.greeting{
    width: 400px;
    margin: auto;
    display: none;
}
.greetuser{
    color: crimson;
    font-weight: bolder;
}
.formcontrol{
    margin: 2em;
}
label{
    display: inline-block;
    width: 60%;
    color:darkblue;
}
input{
    display: inline-block;
    width: 100%;
    color:darkblue;
    padding: 0.5em;
}
.errormsg{
    color: darkmagenta;
    font-size: 0.8em;
    display: none;
}
.btnsubmit:disabled{
    background-color: darkolivegreen;
    cursor: not-allowed;
    color: rgb(84, 138, 168);
}